@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
